.column {
    float: left;
    width: 50%;
  }

img {
    width: 300px;
    height: 75px;
}

.item {
    /*background-color: beige;*/
    position: relative;
}

.ScoreButton {
    font-size: 15pt;
    font-family: "Verdana", Geneva, sans-serif;
    color: #2F7800;
    
    transition: all 0.2s ease;
    border-radius: 50px;
    border: 1px solid #2F7800;
    /*background: rgba(255, 255, 255, 0);*/
}
